* {
  box-sizing: border-box;
}

#filterbox {
  width: 80%;
  font-size: 15px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #ddd; */
  font-size: 15px;
  position: relative;
}

#myTable th{
  text-align: left;
  padding: 6px;
  position: sticky;
  top: 0pt;
  background-color: #ababab;
	color: #fefefe;
}

#myTable td {
  text-align: left;
  padding: 6px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr:hover, #myTable tr:nth-child(even):hover {
  background-color: #d5d5d5;
}

#myTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
